/* index.css */

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables de color */
:root {
  --font-titulo: 'Cinzel', serif;
  --font-parrafo: 'EB Garamond', serif;
  --font-menu: 'MedievalSharp', cursive;

  --color-fondo: #121212;
  --color-principal: #e63946;
  --color-secundario: #a8dadc;
  --color-texto: #eee;
  --color-texto-secundario: #bbb;
  --color-boton: var(--color-principal);
  --color-boton-hover: #d62828;
}

/* Body */
body {
  font-family: var(--font-parrafo);
  background-image: url('/src/assets/fondo.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: var(--color-texto);
  line-height: 1.6;
}

/* Contenedor central */
.container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

.title-dramatico {
  font-family: 'MedievalSharp', cursive;
  font-size: 3rem;
  text-align: center;
  color: #ffcc70;
  text-shadow: 
    0 0 10px #ffcc70,
    0 0 20px #ff9966,
    0 0 40px #ff6666;
  animation: aparecer 2s ease-out, resplandor 3s infinite alternate;
  margin-bottom: 1rem;
  letter-spacing: 2px;
}

@keyframes aparecer {
  0% {
    opacity: 0;
    transform: scale(0.8);
    filter: blur(3px);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    filter: blur(0);
  }
}

@keyframes resplandor {
  0% {
    text-shadow:
      0 0 10px #ffcc70,
      0 0 20px #ff9966,
      0 0 40px #ff6666;
  }
  100% {
    text-shadow:
      0 0 20px #ffd700,
      0 0 30px #ff8c00,
      0 0 60px #ff4500;
  }
}
