/* index.css */

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables de color */
:root {
  --font-titulo: 'Cinzel', serif;
  --font-parrafo: 'EB Garamond', serif;
  --font-menu: 'MedievalSharp', cursive;

  --color-fondo: #121212;
  --color-principal: #e63946;
  --color-secundario: #a8dadc;
  --color-texto: #eee;
  --color-texto-secundario: #bbb;
  --color-boton: var(--color-principal);
  --color-boton-hover: #d62828;
}

/* Body */
body {
  font-family: var(--font-parrafo);
  background-image: url('/src/assets/fondo.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: var(--color-texto);
  line-height: 1.6;
}

/* Contenedor central */
.container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}